
/* Värit voisi määrittää tänne ylös, jotta helppo päivittää 
    primary: #0088c2
    inbox background: #E9EAEB
    white text: #F4F7FC
    bakcround: #F4F7FC
    darker text: #0000
    highlihgtin colour #C23A00 
*/
*{
  margin: 0;
  padding: 0;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
:root {
  --color-background: #ffffff;
}

.container-fluid{
  margin-left: 250px;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: var(--color-background);
}


.login{ /* login screen */
  border-style: solid;
  border-color:  #0088c2;
  border-width: 2px;
  border-radius: 1em;
  margin-bottom:50px;
  margin-top:50px;
  width:50%;
  box-shadow: 5px 5px lightgrey;
  background-color:#E9EAEB;
  
}
.footer{
  border-top: solid 1px;
  width: 100%;
  text-align: right;
  background-color: #0088c2;
  position: fixed;
  height: 40px;
  bottom: 0;
  margin-top:0;
  color: #F4F7FC;

}
.header{
  background-color: #0088c2;
  padding: 40px;
  width: 100%;
  height: 150px;
}
.user{ /* user signed-in in the header section */
  color: #F4F7FC;
  text-align: right;
}


.nappi{/* Buttons on the home page */
  padding: 10px;
  text-align: center;
  margin:10px;
  border: solid 2px;
  border-radius: 1em;
  box-shadow: 5px 5px lightgrey;
  background-color:#E9EAEB;
  border-color:  #0088c2;
}
.logo{ /* Logo in the header */
  height:80px;
}
/* Navigation*/

.side-menu{
  position: fixed;
  background: #F4F7FC;
  width: 300px;
  height: 100%;
  box-sizing: border-box;
  padding: 30px 20px;
  transition: width .2s ease-in;
}

.side-menu.inactive{
  width: 80px;
}

.side-menu .top-section{
  position: relative;
}




.side-menu .top-section .toggle-menu-btn{
  color: #666;
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.side-menu.inactive .top-section .toggle-menu-btn{
  right: -50px;
}

.side-menu .search-controller{
  color: #fff;
  position: relative;
}

.side-menu .search-controller .search-btn{
  width: 40px;
  height: 35px;
  position: absolute;
  background: transparent;
  border: 0;
  font-size: 20px;
  color: #666;
}

.side-menu .search-controller input[type=text]{
  border: 0;
  outline: none;
  height: 35px;
  background: #F4F7FC;
  border-radius: 5px;
  display: block;
  margin: 20px 0;
  width: 100%;
  box-sizing: border-box;
  padding-left: 40px;
  color: #666;
}

.side-menu .main-menu .menu-item{
  color: #333;
  text-decoration: none;
  font-size: 15px;
  display: block;
  font-weight: 600;
  cursor: pointer;
}

.side-menu .main-menu .menu-item.active{
  background: #C23A00;
  border-radius: 5px;
  color: #F4F7FC;
}


.side-menu .main-menu{
  margin: 5px 0;
  position: relative;
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}


.side-menu .main-menu .menu-item .menu-icon{
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

.side-menu .main-menu .menu-item span{
  position: absolute;
  display: inline-block;
  line-height: 40px;
  opacity: 1;
  transition: opacity .2s ease-in;
}

.side-menu.inactive .main-menu .menu-item span{
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

.side-menu .main-menu .sub-menu{
  color: #C23A00 ;
  margin-left: 20px;
  border-left: 1px solid #666;
  box-sizing: border-box;
  padding-left: 30px;
  max-height: 0;
  overflow: hidden;
  transition: max-height .2s ease-in;
}



.side-menu .main-menu .sub-menu.active{
  max-height: 200px;
}

.side-menu .main-menu .sub-menu a{
  display: block;
  margin: 5px 0;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: #333;
  box-sizing: border-box;
  padding: 5px;
}


.side-menu .main-menu .sub-menu a.active{
  
  background: #222;
  display: block;
  
  border-radius: 5px;
  color: #F4F7FC;

}

.side-menu-footer{
  width: 100%;
  background: #F4F7FC;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 70%;
  /* padding: 20px; */
  box-sizing: border-box;
}



.side-menu-footer .user-info{
  display: inline-block;
  margin: 0 10px;
  color: #000;
  position: absolute;
  opacity: 1;
  transition: opacity .2s ease-in;
}

.side-menu.inactive .side-menu-footer .user-info{
  opacity: 1;
  width: 0;
  height: 0;
  overflow: hidden;
}


.side-menu-footer .user-info h5{
  font-size: 15px;
}


.side-menu-footer .user-info p{
  font-size: 14px;
}

.divider{
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background: #333;
}

.container{
  margin-left: 300px;
  transition: margin-left .2s ease-in;
  padding: 50px;
  box-sizing: border-box;
}

.container.inactive{
  margin-left: 80px;
}
/* End of navigation*/

