/* Värit voisi määrittää tänne ylös, jotta helppo päivittää 
    primary: #0088c2
    inbox background: #E9EAEB
    white text: #F4F7FC
    bakcround: #F4F7FC
    blackText : #333
    darker text: #0000
    highlihgtin colour #C23A00 
    linearHeader: #0088c2 #006ea6
*/
* {
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
:root {
  --color-background: #ffffff;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  color: #333;
}

.button {
  color: #333;
}

.login {
  /* login screen */
  border-style: solid;
  border-color: #0088c2;
  border-width: 2px;
  border-radius: 1em;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 50%;
  box-shadow: 5px 5px lightgrey;
  background-color: #e9eaeb;
}

.header {
  padding: 40px;
  height: 150px;
}

.user {
  /* user signed-in in the header section */
  color: #f4f7fc;
  text-align: right;
}

.marginHome {
  margin-top: 20px !important;
}

.button {
  /* Buttons on the home page */
  padding: 10px;
  text-align: center;
  margin: 15px;
  border: none;
  border-radius: 1em;
}

.logo {
  /* Logo in the header */
  height: 80px;
}
/* Navigation*/

.side-menu {
  background: #f4f7fc;
  width: 250px;
  height: calc(100vh - 150px);
  min-height: 400px;
  padding: 30px 20px;
}

.nav-color {
  background: #f4f7fc;
}

.side-menu.inactive {
  width: 80px;
}

.toggle-menu-btn {
  transform: translateY(-50%);
}

.toggle-menu-btn {
  color: #666;
  font-size: 30px;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.top-section {
  height: 30px;
}

.side-menu .search-controller {
  color: #fff;
  position: relative;
}

.main-menu-margin {
  margin-top: 30px;
}

.side-menu .search-controller .search-btn {
  width: 40px;
  height: 35px;
  position: absolute;
  background: transparent;
  border: 0;
  font-size: 20px;
  color: #666;
}

.side-menu .search-controller input[type="text"] {
  border: 0;
  outline: none;
  height: 35px;
  background: #f4f7fc;
  border-radius: 5px;
  display: block;
  margin: 20px 0;
  width: 100%;
  box-sizing: border-box;
  padding-left: 40px;
  color: #666;
}

.main-menu {
  margin-top: 30px;
}

.side-menu .main-menu .menu-item {
  color: #333;
  text-decoration: none;
  font-size: 15px;
  display: block;
  font-weight: 600;
  cursor: pointer;
}

.side-menu .main-menu .menu-item.active {
  background: #c23a00;
  border-radius: 5px;
  color: #f4f7fc;
}

.side-menu .main-menu .menu-item .menu-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

.side-menu .main-menu .menu-item span {
  position: absolute;
  display: inline-block;
  line-height: 40px;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.side-menu.inactive .main-menu .menu-item span {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

.side-menu .main-menu .sub-menu {
  color: #c23a00;
  margin-left: 20px;
  border-left: 1px solid #666;
  box-sizing: border-box;
  padding-left: 30px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in;
}

.side-menu .main-menu .sub-menu a {
  display: block;
  margin: 5px 0;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: #333;
  box-sizing: border-box;
  padding: 5px;
}

.side-menu .main-menu .sub-menu a.active {
  background: #222;
  display: block;
  border-radius: 5px;
  color: #f4f7fc;
}

.side-menu-footer {
  /* padding: 20px; */
  box-sizing: border-box;
}

.side-menu-footer .user-info {
  margin: 0 10px;
  color: #000;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.side-menu.inactive .user-info {
  opacity: 1;
  width: 0;
  height: 0;
  overflow: hidden;
}

#bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 30px;
  margin-bottom: 30px;
}

.user-info h5 {
  font-size: 15px;
}

.user-info p {
  font-size: 14px;
}

/* End of navigation*/

/* Hidding*/
.visible {
  visibility: visible !important;
}
.invisible {
  visibility: hidden !important;
}

.max-wid {
  min-width: 1000px !important;
}

.content {
  margin-left: 10px !important;
  margin-top: 15px !important;
}

.custom-tab .tab-content {
  min-height: 100px;
  border: 1px solid #DCDCDC;
  border-top: none;
  color: green;
}