
/* Värit voisi määrittää tänne ylös, jotta helppo päivittää 
    primary: #0088c2
    inbox background: #E9EAEB
    white text: #F4F7FC

*/

:root {
    --color-background: #ffffff;
}

.container-fluid{
    margin-left: 100px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-left: 40px;
    background-color: var(--color-background);
}


.login{ /* login screen */
    border-style: solid;
    border-color:  #0088c2;
    border-width: 2px;
    border-radius: 1em;
    margin-top:50px;
    width:50%;
    box-shadow: 5px 5px lightgrey;
    background-color:#E9EAEB;
    padding:20px;
    align-items: center;
    justify-content: center;
    
}
.footer{
    border-top: solid 1px;
    width: 100%;
    text-align: right;
    background-color: #0088c2;
    position: fixed;
    height: 40px;
    bottom: 0;
    margin-top:0;
    color: #F4F7FC;
    padding-right:40px;
}
.header{
    background-color: #0088c2;
    padding: 40px;
    width: 100%;
    height: 150px;
}

.user{ /* user signed-in in the header section */
    color: #F4F7FC;
    text-align: right;
}


.nappi{/* Buttons on the home page */
    padding: 10px;
    text-align: center;
    margin:10px;
    border: solid 2px;
    border-radius: 1em;
    box-shadow: 5px 5px lightgrey;
    background-color:#E9EAEB;
    border-color:  #0088c2;
}
.logo{ /* Logo in the header */
    height:80px;
}
/* Navigation*/

.navbar{
    height: 100%;
    width: 250px;
    background-color: #F4F7FC;
    display: flex;
    justify-content: start;
    align-items: center;
    
}
/*.nav{
    border-bottom: solid 1px;
    border-color:  #0088c2;
    padding: 10px;
}
.navtext{
    color:black ; 
}*/
.navbar-brand{
    color: black;
    text-decoration: none;
}
.nav-menu {
    background-color: #F4F7FC;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 150;
    
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
    
}

.nav-text a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    width:95% ;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover{
    background-color: #0088C2 ;
}

.nav-menu-items{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

.navbar-toggle {
    background-color:#F4F7FC;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 20px;
   
}
/* End of navigation*/

